<table
  align="center"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra añadida */
    border-radius: 8px; /* Bordes redondeados */
    font-family: Arial, sans-serif; /* Fuente */
  "
>
  <tr>
    <td style="text-align: center; padding: 10px 0;">
      <img
        src="https://via.placeholder.com/100x50"
        alt="Wistia"
        style="max-width: 100px;"
      />
    </td>
  </tr>
  <tr>
    <td style="text-align: center; padding: 20px 0;">
      <h1 style="color: #333333; font-size: 24px; margin: 0;">
        Restablecimiento de Contraseña
      </h1>
      <p style="color: #666666; font-size: 16px; line-height: 1.5;">
        Si has perdido tu contraseña o deseas restablecerla, utiliza el enlace a
        continuación para empezar.
      </p>
      <div style="margin: 20px 0;">
        <a
          href="#"
          style="
            background-color: #3498db;
            color: #ffffff;
            padding: 12px 25px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
            display: inline-block;
          "
          >Restablecer tu contraseña</a
        >
      </div>
      <p style="color: #666666; font-size: 16px; line-height: 1.5;">
        Si no solicitaste un restablecimiento de contraseña, puedes ignorar este
        correo electrónico. Solo una persona con acceso a tu correo puede
        restablecer la contraseña de tu cuenta.
      </p>
    </td>
  </tr>
  <tr>
    <td
      style="
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
        color: #888888;
      "
    >
      &copy; 2024 {{ empresa }}
    </td>
  </tr>
</table>
